# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\东莞理工学院城市学院\大四第二学期资料\大众优购\大众优购小程序\dzyg_xcx\dzyg_api\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
